<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Insomnia Severity Index</title>
	<link rel="stylesheet" href="css/main.css" />
	<script type="text/javascript" src="js/calculate.js"></script>
</head>

<body>
	<div class="fixed_header">
		<img class="logo" src="img/NOCTEM.png" alt="NOCTEM">
	</div>
	<div class="main">
		<h3 class="text_center">Insomnia Severity Index</h3>
		<p>
			The Insomnia Severity Index has seven questions. The seven answers are
			added up to get a total score. When you have your total score, look at the
			'Guidelines for Scoring/Interpretation' below to see where your sleep
			difficulty fits.
		</p>
		<div class="questions_container">
			<p>For each question, please SELECT the number that best describes your answer.</p>
			<p class="ruler">Please rate the CURRENT (i.e. LAST 2 WEEKS) SEVERITY of your insomnia problem(s).</p>
			<form method="POST" action="/">
				<div class="question_wrapper">
					<p class="question">1. Difficulty falling asleep</p>
					<div class="answer_wrapper">
						<span style="float: left"> None </span>
						<span style="float: right"> Very Severe </span>
					</div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="question1" value="0" required />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="question1" value="1" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="question1" value="2" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="question1" value="3" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="question1" value="4" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
				<div class="question_wrapper">
					<p class="question">2. Difficulty staying asleep</p>
					<div class="answer_wrapper">
						<span style="float: left"> None </span>
						<span style="float: right"> Very Severe </span>
					</div>
					<div>
						<span class="number_rating">
							<label value="0">
								<input type="radio" name="question2" value="0" required />
								<label style="width: 100%"></label>
							</label>
							<label value="1">
								<input type="radio" name="question2" value="1" />
								<label style="width: 100%"></label>
							</label>
							<label value="2">
								<input type="radio" name="question2" value="2" />
								<label style="width: 100%"></label>
							</label>
							<label value="3">
								<input type="radio" name="question2" value="3" />
								<label style="width: 100%"></label>
							</label>
							<label value="4">
								<input type="radio" name="question2" value="4" />
								<label style="width: 100%"></label>
							</label>
						</span>
					</div>
				</div>
				<div class="question_wrapper">
					<p class="question">3. Problems waking up too early</p>
					<div class="answer_wrapper">
						<span style="float: left"> None </span>
						<span style="float: right"> Very Severe </span>
					</div>
					<div>
						<span class="number_rating">
							<label value="0">
								<input type="radio" name="question3" value="0" required />
								<label style="width: 100%"></label>
							</label>
							<label value="1">
								<input type="radio" name="question3" value="1" />
								<label style="width: 100%"></label>
							</label>
							<label value="2">
								<input type="radio" name="question3" value="2" />
								<label style="width: 100%"></label>
							</label>
							<label value="3">
								<input type="radio" name="question3" value="3" />
								<label style="width: 100%"></label>
							</label>
							<label value="4">
								<input type="radio" name="question3" value="4" />
								<label style="width: 100%"></label>
							</label>
						</span>
					</div>
				</div>
				<div class="question_wrapper">
					<p class="question">4. How SATISFIED/DISSATISFIED are you with your CURRENT sleep pattern?</p>
					<div class="answer_wrapper">
						<span style="float: left"> Very Satisfied </span>
						<span style="float: right"> Very Dissatisfied </span>
					</div>
					<div>
						<span class="number_rating">
							<label value="0">
								<input type="radio" name="question4" value="0" required />
								<label style="width: 100%"></label>
							</label>
							<label value="1">
								<input type="radio" name="question4" value="1" />
								<label style="width: 100%"></label>
							</label>
							<label value="2">
								<input type="radio" name="question4" value="2" />
								<label style="width: 100%"></label>
							</label>
							<label value="3">
								<input type="radio" name="question4" value="3" />
								<label style="width: 100%"></label>
							</label>
							<label value="4">
								<input type="radio" name="question4" value="4" />
								<label style="width: 100%"></label>
							</label>
						</span>
					</div>
				</div>
				<div class="question_wrapper">
					<p class="question">5. How NOTICEABLE to others do you think your sleep problem is in terms of
						impairing
						the quality of your life?</p>
					<div class="answer_wrapper">
						<span style="float: left"> Not at all Noticeable </span>
						<span style="float: right"> Very Much Noticeable </span>
					</div>
					<div>
						<span class="number_rating">
							<label value="0">
								<input type="radio" name="question5" value="0" required />
								<label style="width: 100%"></label>
							</label>
							<label value="1">
								<input type="radio" name="question5" value="1" />
								<label style="width: 100%"></label>
							</label>
							<label value="2">
								<input type="radio" name="question5" value="2" />
								<label style="width: 100%"></label>
							</label>
							<label value="3">
								<input type="radio" name="question5" value="3" />
								<label style="width: 100%"></label>
							</label>
							<label value="4">
								<input type="radio" name="question5" value="4" />
								<label style="width: 100%"></label>
							</label>
						</span>
					</div>
				</div>
				<div class="question_wrapper">
					<p class="question">6. How WORRIED/DISTRESSED are you about your current sleep problem?</p>
					<div class="answer_wrapper">
						<span style="float: left"> Not at all Worried </span>
						<span style="float: right"> Very Much Worried </span>
					</div>
					<div>
						<span class="number_rating">
							<label value="0">
								<input type="radio" name="question6" value="0" required />
								<label style="width: 100%"></label>
							</label>
							<label value="1">
								<input type="radio" name="question6" value="1" />
								<label style="width: 100%"></label>
							</label>
							<label value="2">
								<input type="radio" name="question6" value="2" />
								<label style="width: 100%"></label>
							</label>
							<label value="3">
								<input type="radio" name="question6" value="3" />
								<label style="width: 100%"></label>
							</label>
							<label value="4">
								<input type="radio" name="question6" value="4" />
								<label style="width: 100%"></label>
							</label>
						</span>
					</div>
				</div>
				<div class="question_wrapper">
					<p class="question">7. To what extent do you consider your sleep problem to INTERFERE with your
						daily
						functioning (e.g. daytime fatigue, mood, ability to function at work/daily chores,
						concentration,
						memory, mood, etc.) CURRENTLY?</p>
					<div class="answer_wrapper">
						<span style="float: left"> Not at all Interfering </span>
						<span style="float: right"> Very Much Interfering </span>
					</div>
					<div>
						<span class="number_rating">
							<label value="0">
								<input type="radio" name="question7" value="0" required />
								<label style="width: 100%"></label>
							</label>
							<label value="1">
								<input type="radio" name="question7" value="1" />
								<label style="width: 100%"></label>
							</label>
							<label value="2">
								<input type="radio" name="question7" value="2" />
								<label style="width: 100%"></label>
							</label>
							<label value="3">
								<input type="radio" name="question7" value="3" />
								<label style="width: 100%"></label>
							</label>
							<label value="4">
								<input type="radio" name="question7" value="4" />
								<label style="width: 100%"></label>
							</label>
						</span>
					</div>
				</div>
				<div class="button_container" style="padding: 20px;">
					<button type="submit" class="button calculate_button" onclick="calculateScore()">CALCULATE</button>
				</div>
				<p class="credit">Used via courtesy of www.myhealth.va.gov with permission
					from
					Charles M.
					Morin, Ph.D., Université Laval</p>
			</form>
		</div>
	</div>

</body>

</html>