<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Insomnia Severity Index</title>
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<div class="fixed_header">
		<img class="logo" src="img/NOCTEM.png" alt="NOCTEM">
	</div>
	<div class="main">
		<h3 class="text_center">Insomnia Severity Index</h3>
		<p class="text_center">
			The Insomnia Severity Index has seven questions. The seven answers are
			added up to get a total score. When you have your total score, look at the
			'Guidelines for Scoring/Interpretation' below to see where your sleep
			difficulty fits.
		</p>
		<div class="questions_container">
			<p>For each question, please SELECT the number that best describes your answer.</p>
			<p>Please rate the CURRENT (i.e. LAST 2 WEEKS) SEVERITY of your insomnia problem(s).</p>
			<div>
				<p class="question">1. Difficulty falling asleep</p>
				<div>
					<span style="float: left"> None </span>
					<span style="float: right"> Very Severe </span>
				</div>
				<div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="5">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
			</div>
			<div>
				<p class="question">2. Difficulty staying asleep</p>
				<div>
					<span style="float: left"> None </span>
					<span style="float: right"> Very Severe </span>
				</div>
				<div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="5">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
			</div>
			<div>
				<p class="question">3. Problems waking up too early</p>
				<div>
					<span style="float: left"> None </span>
					<span style="float: right"> Very Severe </span>
				</div>
				<div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="5">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
			</div>
			<div>
				<p class="question">4. How SATISFIED/DISSATISFIED are you with your CURRENT sleep pattern?</p>
				<div>
					<span style="float: left"> Very Satisfied </span>
					<span style="float: right"> Very Dissatisfied </span>
				</div>
				<div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="5">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
			</div>
			<div>
				<p class="question">5. How NOTICEABLE to others do you think your sleep problem is in terms of impairing
					the quality of your life?</p>
				<div>
					<span style="float: left"> Not at all Noticeable </span>
					<span style="float: right"> Very Much Noticeable </span>
				</div>
				<div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="5">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
			</div>
			<div>
				<p class="question">6. How WORRIED/DISTRESSED are you about your current sleep problem?</p>
				<div>
					<span style="float: left"> Not at all Worried </span>
					<span style="float: right"> Very Much Worried </span>
				</div>
				<div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="5">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
			</div>
			<div>
				<p class="question">7. To what extent do you consider your sleep problem to INTERFERE with your daily
					functioning (e.g. daytime fatigue, mood, ability to function at work/daily chores, concentration,
					memory, mood, etc.) CURRENTLY?</p>
				<div>
					<span style="float: left"> Not at all Interfering </span>
					<span style="float: right"> Very Much Interfering </span>
				</div>
				<div>
					<span class="number_rating">
						<label value="0">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="1">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="2">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="3">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="4">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
						<label value="5">
							<input type="radio" name="rating" />
							<label style="width: 100%"></label>
						</label>
					</span>
				</div>
			</div>

		</div>
	</div>

</body>

</html>