:root {
    --background-color-one: #9FBFC5;
    --background-color-two: #6885F9;
    --background-color-three: #5C5B6B;
    --background-color-four: #CDB5B4;
    --background-color-five: #EBECEB;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.text_center {
    text-align: center;
}

.logo {
    max-width: 70%;
    max-height: 70%;
}

.fixed_header {
    overflow: hidden;
    background-color: black;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    z-index: 5;
}

.main {
    padding: 20px;
    background-color: #F1F1F4;
    color: black;
    max-width: 800px;
    margin: 70px auto;
    border-radius: 10px;
    /* Used in this example to enable scrolling */
}

.question {
    font-weight: bold;
}

.question_wrapper {
    padding-bottom: 20px;
}

.answer_wrapper {
    font-size: 14px;
    padding: 0 7px 25px 7px;

}

.ruler {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

span.number_rating {
    /* margin: 5px 0 15px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-content: center;
    justify-content: center;

}

span.number_rating>label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    border: 1px solid grey;
    border-radius: 10px;
    height: 33px;
    margin: 0 4px;
    width: calc(20% - 4px);
    float: left;
    cursor: pointer;
}

span.number_rating label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    height: 33px;
    border-radius: 10px;
    margin: 0 4px;
    width: calc(20% - 4px);
    float: left;
    cursor: pointer;
}

span.number_rating input[type=radio] {
    position: absolute;
    -webkit-appearance: none;
    opacity: 0;
    outline: 0 !important;
    /*border-right: 1px solid grey;*/
    height: 33px;

    margin: 0 5px 0 0;

    width: 100%;
    float: left;
    cursor: pointer;
    z-index: 3;
}

span.number_rating label:hover {
    background: var(--background-color-one);
    border: 1px solid var(--background-color-one);
}

span.number_rating input[type=radio]:last-child {
    border-right: 0;
}

span.number_rating label input[type=radio]:checked~label {
    -webkit-appearance: none;
    margin: -1px 0 0px -1px;
    background: var(--background-color-one);
    border: 1px solid var(--background-color-one);
}

span.number_rating label:before {
    content: attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

.seperator {
    padding-bottom: 30px;
}

.guideline {
    border-top: 1px solid black;
}

.bold_text {
    font-weight: bold;
}

.score_container {
    display: flex;
}

.button_container {
    text-align: center;
}

.button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.calculate_button {
    background-color: var(--background-color-three);
    color: white;
}

.calculate_button:hover {
    background-color: var(--background-color-four);
    color: black;
    border: 2px solid var(--background-color-four);
}

.total_score {
    background-color: var(--background-color-two);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.score_category {
    text-align: center;
    padding-top: 20px;
    color: #1D45E9;
}

.credit {
    font-style: italic;
    font-size: 12px;
}